@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  --clr-green: hsl(75, 94%, 57%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey-700: hsl(0, 0%, 20%);
  --clr-grey-800: hsl(0, 0%, 12%);
  --clr-grey-900: hsl(0, 0%, 8%);

  --fs-body: 14px;

  --fw-normal: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-body);
  background-color: var(--clr-grey-900);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--clr-white);
  line-height: 1.5;
}

main {
  background-color: var(--clr-grey-800);
  padding: 2.5rem;
  border-radius: 0.75rem;
  max-width: 380px;
  width: 90%;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

main section:first-child {
  margin-bottom: 1.5rem;
}

main img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  object-fit: cover;
}

main p:nth-child(2) {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

main p:nth-child(3) {
  color: var(--clr-green);
  font-weight: 400;
  margin-bottom: 1.5rem;
}

main p:nth-child(4) {
  color: var(--clr-white);
  margin-bottom: 1.5rem;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.social ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.socials li {
  display: block;
  background-color: var(--clr-grey-700);
  color: var(--clr-white);
  padding: 0.75rem 0;
  border-radius: 0.5rem;
  font-weight: 700;
  transition: background-color 0.2s, color 0.2s;
  margin-bottom: 1.2rem;
  cursor: pointer;
}

.socials li:hover {
  background-color: var(--clr-green);
  color: var(--clr-grey-900);
}

.attribution {
  font-size: 14px;
  margin-bottom: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
